[Desktop Entry]
Name=SevenTasks
Name[ar]=SevenTasks
Name[az]=SevenTasks
Name[ca]=SevenTasks
Name[ca@valencia]=SevenTasks
Name[cs]=SevenTasks
Name[da]=SevenTasks
Name[de]=SevenTasks
Name[en_GB]=SevenTasks
Name[es]=SevenTasks
Name[et]=SevenTasks
Name[eu]=SevenTasks
Name[fi]=SevenTasks
Name[fr]=SevenTasks
Name[gd]=SevenTasks
Name[gl]=SevenTasks
Name[hu]=SevenTasks
Name[ia]=SevenTasks
Name[id]=SevenTasks
Name[it]=SevenTasks
Name[ko]=SevenTasks
Name[lt]=SevenTasks
Name[nb]=SevenTasks
Name[nl]=SevenTasks
Name[nn]=SevenTasks
Name[pa]=SevenTasks
Name[pl]=SevenTasks
Name[pt]=SevenTasks
Name[pt_BR]=SevenTasks
Name[ro]=SevenTasks
Name[ru]=SevenTasks
Name[sk]=SevenTasks
Name[sl]=SevenTasks
Name[sr]=SevenTasks
Name[sr@ijekavian]=SevenTasks
Name[sr@ijekavianlatin]=SevenTasks
Name[sr@latin]=SevenTasks
Name[sv]=SevenTasks
Name[tg]=SevenTasks
Name[tr]=SevenTasks
Name[uk]=SevenTasks
Name[vi]=SevenTasks
Name[x-test]=xxSevenTasksxx
Name[zh_CN]=SevenTasks
Name[zh_TW]=SevenTasks

Comment=Classic taskbar-style window switcher displaying icons and text
Comment[ar]=مبدل نوافذ تقليدي بنمط شريط المهام يعرض الأيقونات والنص
Comment[az]=Nişanlar və mətn göstərən klassik tapşırıq paneli üslubunda pəncərə dəyişdirici
Comment[bg]=Класически превключвател на прозорци в стил лента на задачите, показващ икони и текст
Comment[ca@valencia]=Commutador de finestres clàssic d'estil barra de tasques que mostra les icones i text
Comment[ca]=Commutador de finestres clàssic d'estil barra de tasques que mostra les icones i text
Comment[en_GB]=Classic taskbar-style window switcher displaying icons and text
Comment[es]=Selector de ventanas al estilo de la barra de tareas clásica que muestra iconos y texto
Comment[eu]=Ataza-barra tankerako leiho aldatzaile klasikoa ikonoak eta testua azaltzen dituena
Comment[fi]=Perinteinen tehtäväpalkkimainen ikkunavaihto kuvakkein ja tekstein
Comment[fr]=Sélecteur classique de fenêtres en barre des tâches, affichant des icônes et du texte
Comment[ia]=Moderne Commutator de fenestra de stilo a barra de carga monstrante  icones e texto
Comment[id]=Pengalih window gaya taskbar klasik yang menampilkan ikon dan teks
Comment[it]=Scambiatore di finestre classico in stile barra delle applicazioni che mostra icone e testo
Comment[ko]=아이콘과 텍스트를 표시하는 고전 작업 표시줄 스타일 창 전환기
Comment[nl]=Klassieke taakbalkstijl vensterschakelaar met tonen van pictogrammen en tekst
Comment[nn]=Klassisk vindaugsbytar med oppgåvelinje med ikon og tekst
Comment[pl]=Klasyczny przełącznik okien, wyświetlający ikony i tekst na pasku zadań
Comment[pt]=Selector de janelas clássico em tarefas que mostra ícones e texto
Comment[pt_BR]=Seletor de janelas estilo barra de tarefas clássico mostrando ícones e texto
Comment[ro]=Comutator de ferestre clasic cu bară de sarcini, afișând pictograme și text
Comment[ru]=Классический вариант панели задач, использующий значки и текст
Comment[sk]=Klasický prepínač okien v štýle panela úloh zobrazujúci ikony a text
Comment[sl]=Klasični preklopnik oken z vrstico opravil, ki prikazuje ikone in besedilo
Comment[sv]=Klassiskt fönsterbytare med aktivitetsliknande fönster som visar ikoner och text
Comment[ta]=சின்னங்களையும் பெயர்களையும் காட்டும் சாளர மாற்றி
Comment[tr]=Klasik görev çubuğu tarzı, simgeler ve metin görüntüleyen pencere değiştiricisi
Comment[uk]=Класичний перемикач вікон у стилі панелі задач з показом піктограм і тексту
Comment[vi]=Trình chuyển cửa sổ phong cách thanh tác vụ cổ điển, hiển thị biểu tượng và chữ
Comment[x-test]=xxClassic taskbar-style window switcher displaying icons and textxx
Comment[zh_CN]=经典风格的同时显示图标和文本的任务栏式窗口切换器

Icon=applications-system
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_seventasks

X-KDE-PluginInfo-Author=WackyIdeas
X-KDE-PluginInfo-Email=wackyideas@disroot.org
X-KDE-PluginInfo-Name=io.gitgud.wackyideas.seventasks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

