[Desktop Entry]
Name=Show Desktop (Aero)
Comment=Show the Plasma desktop, now styled like Windows 7

Type=Service
Icon=user-desktop

X-KDE-PluginInfo-Author=Petri Damstén + Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=io.gitgud.wackyideas.win7showdesktop
X-KDE-PluginInfo-Version=11
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-win7showdesktop
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.windowmanagement

X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-FormFactors=desktop


Name[ar]=أظهر سطح المكتب (Aero)
Name[bs]=Prikaži radnu površinu (Aero)
Name[ca]=Mostra l'escriptori (Aero)
Name[ca@valencia]=Mostra l'escriptori (Aero)
Name[cs]=Zobrazit plochu (Aero)
Name[da]=Vis skrivebord (Aero)
Name[de]=Arbeitsfläche anzeigen (Aero)
Name[el]=Εμφάνιση επιφάνειας εργασίας (Aero)
Name[en_GB]=Show Desktop (Aero)
Name[es]=Mostrar el escritorio (Aero)
Name[et]=Töölaua näitamine (Aero)
Name[eu]=Erakutsi mahaigaina (Aero)
Name[fi]=Näytä työpöytä (Aero)
Name[fr]=Afficher un bureau (Aero)
Name[ga]=Taispeáin an Deasc (Aero)
Name[gl]=Mostrar o escritorio (Aero)
Name[he]=הצג שולחן עבודה (Aero)
Name[hr]=Prkaži radnu površinu (Aero)
Name[hu]=A munkaasztal megjelenítése (Aero)
Name[is]=Sýna skjáborðið (Aero)
Name[it]=Mostra desktop (Aero)
Name[ja]=デスクトップを表示 (Aero)
Name[kk]=Үстел бетін көрсету (Aero)
Name[km]=បង្ហាញ​ផ្ទៃតុ (Aero)
Name[ko]=데스크톱 보이기 (Aero)
Name[ku]=Sermasê Nîşan Bide (Aero)
Name[lt]=Rodyti darbalaukį (Aero)
Name[lv]=Parādīt darbvirsmu (Aero)
Name[mr]=डेस्कटॉप दर्शवा (Aero)
Name[nb]=Vis skrivebord (Aero)
Name[nds]=Schriefdisch wiesen (Aero)
Name[nl]=Bureaublad tonen (Aero)
Name[nn]=Vis skrivebord (Aero)
Name[pa]=ਡੈਸਕਟਾਪ ਵੇਖੋ (Aero)
Name[pl]=Pokaż pulpit (Aero)
Name[pt]=Mostrar o Ecrã (Aero)
Name[pt_BR]=Exibir a área de trabalho (Aero)
Name[ro]=Arată biroul (Aero)
Name[ru]=Показать рабочий стол (Aero)
Name[sk]=Zobraziť plochu (Aero)
Name[sl]=Pokaži namizje (Aero)
Name[sq]=Shfaq Hapësirën e Punës (Aero)
Name[sr]=приказ површи (Aero)
Name[sr@ijekavian]=приказ површи (Aero)
Name[sr@ijekavianlatin]=prikaz površi (Aero)
Name[sr@latin]=prikaz površi (Aero)
Name[sv]=Visa skrivbord (Aero)
Name[th]=แสดงพื้นที่ทำงาน (Aero)
Name[tr]=Masaüstünü Göster (Aero)
Name[ug]=ئۈستەلئۈستىنى كۆرسەت (Aero)
Name[uk]=Показати стільницю (Aero)
Name[wa]=Mostrer scribanne (Aero)
Name[x-test]=xxShow Desktopxx (Aero)
Name[zh_CN]=显示桌面 (Aero)
Name[zh_TW]=顯示桌面 (Aero)
Comment[ar]=أظهر سطح مكتب بلازما
Comment[bs]=Prikazi plazma površ
Comment[ca]=Mostra l'escriptori Plasma
Comment[ca@valencia]=Mostra l'escriptori Plasma
Comment[cs]=Zobrazení plochy Plasmy
Comment[da]=Viser Plasmas skrivebord.
Comment[de]=Die Plasma-Arbeitsfläche anzeigen
Comment[el]=Εμφάνιση της επιφάνειας εργασίας plasma
Comment[en_GB]=Show the Plasma desktop
Comment[es]=Mostrar el escritorio de Plasma
Comment[et]=Plasma töölaua näitamine
Comment[eu]=Erakutsi Plasma mahaigaina
Comment[fi]=Näyttää työpöydän
Comment[fr]=Afficher le bureau Plasma
Comment[ga]=Taispeáin an deasc Plasma
Comment[gl]=Mostra o escritorio Plasma
Comment[he]=מציג את שולחן העבודה Plasma
Comment[hr]=Prikaži radnu površinu Plasme
Comment[hu]=A Plazma munkaasztal megjelenítése
Comment[is]=Sýna Plasmaskjáborðið
Comment[it]=Mostra il desktop di Plasma
Comment[ja]=Plasma デスクトップを表示します
Comment[kk]=Plasma үстелінің бетін көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​ប្លាស្មា
Comment[ko]=Plasma 데스크톱 보이기
Comment[ku]=Sermase ya Plasma nîşan bide
Comment[lt]=Rodo Plasma darbalaukį
Comment[lv]=Parāda Plasma darbvirsmu
Comment[mr]=प्लाज्मा डेस्कटॉप दर्शवा
Comment[nb]=Vis Plasma-skrivebordet
Comment[nds]=Den Plasma-Schriefdisch wiesen
Comment[nl]=Toont het Plasma-bureaublad
Comment[nn]=Vis Plasma-skrivebordet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pl]=Pokazuje pulpit Plazmy
Comment[pt]=Mostrar o ecrã do Plasma
Comment[pt_BR]=Mostra a área de trabalho do Plasma
Comment[ro]=Arată biroul Plasma
Comment[ru]=Показать рабочий стол Plasma
Comment[sk]=Zobrazenie plochy Plasmy
Comment[sl]=Pokaži namizje Plasma
Comment[sr]=Баците поглед на плазма површ
Comment[sr@ijekavian]=Баците поглед на плазма површ
Comment[sr@ijekavianlatin]=Bacite pogled na plasma površ
Comment[sr@latin]=Bacite pogled na plasma površ
Comment[sv]=Visa Plasmas skrivbord
Comment[th]=แสดงพื้นที่ทำงานของพลาสมา
Comment[tr]=Plasma masaüstünü göster
Comment[uk]=Показує стільницю Плазми
Comment[wa]=Mostrer l' sicribanne Plasma
Comment[x-test]=xxShow the Plasma desktopxx
Comment[zh_CN]=显示 Plasma 桌面
Comment[zh_TW]=顯示 Plasma 桌面
